.app-wrapper {
    background-color: #F5F5F5;
}

.content_area_wrapper {
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
}

.content_area {
    display: flex;
    width: 75%;
}